*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    padding: 60pk;
    width: 950px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 380px;
    text-align: justify;
    font-size: 20px;
}
h1{
    color:#28b463 ;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
    position:absolute;
    right: 200px;
    top: 90px;
}
header{
    width: 100%;
    height: 70px;
    background: #a8ff78; 
    background: -webkit-linear-gradient(to right, #a8ff78, #78ffd6); 
    background: linear-gradient(to right, #a7ff78, #78ffd7fb); 
    position: relative;
}
.logo{
    width: 80px;
    position: absolute;
    top: 0;

}
.study{
    position: absolute;
    top: 200px;
    left: 0;
    width: 350px;
    height: 300px;
    border-radius: 60%;
    
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: rgb(24, 26, 27);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline; 
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
header .textos-header{
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

